h1 {
    color:blueviolet
}
h2 {
    color: red
}

h3 {
    border-width:10px;
    border-style: solid;
    border-color:red;
    padding: 20px;
}

body {
    background-color: chocolate;
}

